.shoppingcar_body {
  border-top: 1px solid #CCCCCC;
  width: 100%;
  background-color: #f0f0f0;
  padding-bottom: 50px; }
  .shoppingcar_body .w .shop_p1 {
    height: 50px;
    line-height: 50px;
    font-size: 14px; }
  .shoppingcar_body .w .shoppingcar_body_title {
    width: 100%;
    background-color: #000000;
    color: #FFFFFF;
    margin-bottom: 20px;
    font-size: 14px;
    height: 50px;
    line-height: 50px; }
    .shoppingcar_body .w .shoppingcar_body_title li {
      width: 16.66667%;
      float: left;
      text-align: center; }
    .shoppingcar_body .w .shoppingcar_body_title .first_li {
      width: 100px;
      text-align: center; }
    .shoppingcar_body .w .shoppingcar_body_title .second_li {
      width: 300px; }
    .shoppingcar_body .w .shoppingcar_body_title .three_li, .shoppingcar_body .w .shoppingcar_body_title .four_li, .shoppingcar_body .w .shoppingcar_body_title .five_li, .shoppingcar_body .w .shoppingcar_body_title .six_li {
      width: 200px; }
  .shoppingcar_body .w .shoppingcar_body_body ul {
    width: 100%;
    text-align: center;
    height: 145px;
    border-bottom: 1px solid #CCCCCC; }
    .shoppingcar_body .w .shoppingcar_body_body ul li {
      float: left;
      height: 145px;
      line-height: 145px;
      background-color: #fff; }
      .shoppingcar_body .w .shoppingcar_body_body ul li .goodsimg {
        width: 145px;
        height: 145px; }
    .shoppingcar_body .w .shoppingcar_body_body ul .first_li {
      width: 100px;
      text-align: center; }
      .shoppingcar_body .w .shoppingcar_body_body ul .first_li img {
        vertical-align: middle;
        cursor: pointer; }
      .shoppingcar_body .w .shoppingcar_body_body ul .first_li input {
        vertical-align: middle;
        margin-right: 10px; }
    .shoppingcar_body .w .shoppingcar_body_body ul .second_li {
      width: 300px;
      cursor: pointer; }
    .shoppingcar_body .w .shoppingcar_body_body ul .three_li, .shoppingcar_body .w .shoppingcar_body_body ul .four_li, .shoppingcar_body .w .shoppingcar_body_body ul .five_li, .shoppingcar_body .w .shoppingcar_body_body ul .six_li {
      width: 200px; }
    .shoppingcar_body .w .shoppingcar_body_body ul .four_li {
      font-size: 0; }
      .shoppingcar_body .w .shoppingcar_body_body ul .four_li button {
        width: 20px;
        height: 20px;
        background-color: #000000;
        color: #FFFFFF;
        border: 0;
        vertical-align: middle;
        cursor: pointer; }
      .shoppingcar_body .w .shoppingcar_body_body ul .four_li span {
        display: inline-block;
        vertical-align: middle;
        width: 40px;
        height: 18px;
        font-size: 12px;
        border: 1px solid #000000;
        height: 18px;
        line-height: 18px; }
  .shoppingcar_body .w .shoppingcar_body_bottom {
    margin-top: 20px;
    height: 52px;
    line-height: 52px;
    background-color: #fff;
    font-size: 14px;
    color: #666666; }
    .shoppingcar_body .w .shoppingcar_body_bottom li {
      float: left; }
    .shoppingcar_body .w .shoppingcar_body_bottom .first_li {
      width: 740px; }
      .shoppingcar_body .w .shoppingcar_body_bottom .first_li button {
        background-color: #fff;
        border: 0;
        margin-left: 30px;
        cursor: pointer;
        height: 50px;
        outline: none;
        margin-right: 100px; }
    .shoppingcar_body .w .shoppingcar_body_bottom .second_li {
      width: 280px;
      color: #000; }
    .shoppingcar_body .w .shoppingcar_body_bottom .three_li button {
      width: 180px;
      height: 50px;
      background-color: #000;
      color: #FFFFFF;
      text-align: center;
      border: 0;
      cursor: pointer; }

.car_certificate {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 999; }
  .car_certificate .car_certificate_box {
    position: absolute;
    width: 523px;
    height: 692px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background: url("../../images/pay_tj.png") no-repeat center; }
    .car_certificate .car_certificate_box .cert_text {
      width: 429px;
      font-size: 15px;
      color: #000;
      position: absolute;
      left: 55px;
      top: 210px;
      line-height: 36px;
      letter-spacing: 3px; }
      .car_certificate .car_certificate_box .cert_text em {
        font-style: normal;
        padding-bottom: 5px;
        display: inline-block;
        width: 128px;
        border-bottom: 1px solid #000;
        text-align: center;
        line-height: 26px;
        height: 26px; }
    .car_certificate .car_certificate_box .lock {
      width: 429px;
      font-size: 12px;
      color: #000;
      position: absolute;
      left: 55px;
      top: 398px;
      letter-spacing: 1px; }
    .car_certificate .car_certificate_box .input_name {
      width: 190px;
      position: absolute;
      left: 55px;
      top: 480px;
      text-align: right; }
      .car_certificate .car_certificate_box .input_name input {
        width: 120px;
        height: 28px;
        line-height: 28px;
        border: 1px solid #000000;
        margin-bottom: 10px;
        padding-left: 10px; }
      .car_certificate .car_certificate_box .input_name button {
        width: 130px;
        height: 30px;
        line-height: 30px;
        text-align: center;
        border: 0;
        outline: none;
        background-color: #000000;
        color: #FFFFFF; }

/*# sourceMappingURL=shoppingcar.css.map */
